mixin link(url)
  a(href=url target="_blank")
    span
      block

mixin image(file)
  figure
    - let imgSrc
    if file.includes("http")
      - imgSrc = file
    else
      - imgSrc = "/img/"+file
    img(src=imgSrc)
    if block
      figcaption
        block


mixin videoBG(slug,start)
  if !start
    - start = 0
  section(data-background-iframe="https://www.youtube.com/embed/"+slug+"?start="+start+"&fs=0&showinfo=0&rel=0&modestbranding=1&autohide=1&showinfo=0&disablekb=1" data-background-interactive)
    block

mixin introScreen(slug, start)
  +videoBG(slug,start)
    h3 This is the title for my talk.
    .a-talk-by(style="margin-top:42.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    block

mixin speakerPic(who)
  - let pic = ""
  if (who === "Sarah Young")
    - pic = "sarah_young.webp"
  else if (who === "Ash Bzak")
    - pic = "ash_2024.webp"
  else if (who === "Brandon Minnick")
    - pic = "brandon_minnick.png"
  else if (who === "Jennifer Wadella")
    - pic = "jenniferwadella.jpg"
  else if (who === "Eli Holderness")
    - pic = "eli_holderness.jpg"
  else if (who === "Neciu Dan")
    - pic = "dan_neciu.webp"
  else if (who === "Glenn Henriksen")
    - pic = "glenn_henriksen.jpg"
  else if (who === "Gabby Spurling")
    - pic = "gabby_fist.webp"
  else if (who === "Eldert Grootenboer")
    - pic = "eldert.jpg"
  else if (who === "D'arcy Lussier")
    - pic = "darcy1.jpg"
  else if (who === "Jon Mills" || who === "Surprise Guest" || who === "A Surprise Guest")
    - pic = "mystery.jpg"
  
  figure
    img(src="img/speakers/"+pic)

mixin pubConfTitle(who)
  - let title = ""
  if (who === "Sarah Young")
    - title = "The Roast of TechBro-ism"
  else if (who === "Ash Bzak")
    - title = "According to TNG, it's less than 20 years to World War III"
  else if (who === "Brandon Minnick")
    - title = "Humanity Achieves Peak Laziness"
  else if (who === "Jennifer Wadella")
    - title = "The Day Millennials Manage the Technical Workforce"
  else if (who === "Eli Holderness")
    - title = ""
  else if (who === "Neciu Dan")
    - title = " Software Engineering Teams in the year 2035"
  else if (who === "Glenn Henriksen")
    - title = "The Future is Reduced For Quick Sale"
  else if (who === "Gabby Spurling")
    - title = ""
  else if (who === "Eldert Grootenboer")
    - title = "Program Managers Against Humanity"
  else if (who === "D'arcy Lussier")
    - title = ""
  else if (who === "Jon Mills" || who === "Surprise Guest" || who === "A Surprise Guest")
    - title = ""
  if (!who || !title || title === "")
    - title = ""
  .title.talk-title= title

mixin pubConfBio(who)
  - let bio = ""
  if (who === "Sarah Young")
    - bio = "Mother of Shibes"
  else if (who === "Ash Bzak")
    - bio = "UX Rapscallion"
  else if (who === "Brandon Minnick")
    - bio = "Reads the F@*%ing Comments"
  else if (who === "Jennifer Wadella")
    - bio = "Angry Feminist Harpy"
  else if (who === "Eli Holderness")
    - bio = "Professional Procrastinator"
  else if (who === "Neciu Dan")
    - bio = "Señor Engineer"
  else if (who === "Glenn Henriksen")
    - bio = ""
  else if (who === "Gabby Spurling")
    - bio = "Googling “How To Comedy”"
  else if (who === "Eldert Grootenboer")
    - bio = "Herder of Cats"
  else if (who === "D'arcy Lussier")
    - bio = ""
  else if (who === "Jon Mills" || who === "Surprise Guest" || who === "A Surprise Guest")
    - bio = "a former PubConf champion!"
  if (!who || !bio || bio === "")
    - bio = ""
  .bio= bio


mixin pubConfTalk(name)
  if (!talk)
    - talk = "This talk does not have a title"
  .talk-preview
    .inside
      +speakerPic(name)
      .details
        .inside-details
          .name= name
          +pubConfBio(name)
          +pubConfTitle(name)

mixin showSpeakerGrid()
  .grid.tiny-gap(columns="5" data-id="SpeakerGrid")
    +speakerPic("Sarah Young")
    +speakerPic("Brandon Minnick")
    +speakerPic("Jennifer Wadella")
    +speakerPic("Eli Holderness")
    +speakerPic("Neciu Dan")
    +speakerPic("Glenn Henriksen")
    +speakerPic("Gabby Spurling")
    +speakerPic("Eldert Grootenboer")
    +speakerPic("D'arcy Lussier")