section
  section(data-background=defaultBG data-auto-animate)
    img.logo(src=logo)
    p(data-id="CodeOfConduct")
      strong Code of Conduct
  section(data-background="img/trump-orb.jpg" data-background-position="top right" data-auto-animate)
    h3(data-id="RuleNumber") Rule #1
    p(data-id="CodeOfConduct")
      strong Don't be an asshole.
  section(data-background="img/clippy-1.jpg")
  section(data-background=defaultBG data-auto-animate)
    h3(data-id="RuleNumber") Rule #2
    p 
      strong What happens at
    img.logo(src=logo)
    p(data-id="CodeOfConduct")
      strong ...stays at PubConf!
  section(data-background=defaultBG data-auto-animate)
    h3(data-id="RuleNumber") Please no...
    p(style="font-size:3dvw;") Photos, videos, quotes, tweets, snaps, or anything else without the 
    p(data-id="CodeOfConduct" style="font-size:3dvw;")
      strong speaker's express permission.