include partials/_variables.pug

doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides
      include sections/_before.pug

      include sections/_previews.pug

      section
        section(data-auto-animate)
          code The year will be...
          br
          code(data-id="TheYear" style="font-size:25dvw") 2034
        section(data-auto-animate)
          code The year is...
          br
          code(data-id="TheYear" style="font-size:16dvw") 2024
        section(data-auto-animate)
          code The year was...
          br
          code(data-id="TheYear" style="font-size:6dvw") 2014
          figure.fragment
            img(src="img/pharrell-williams-happy-1920x1131.jpg")
        section(data-auto-animate)
          p #[strong Imagine] being "HAPPY" in 
          code(data-id="TheYear" style="font-size:18dvw; line-height:75%;") 2020
        section(data-auto-animate)
          code(data-id="TheYear" style="font-size:7dvw") 2004
          figure
            img(src="img/usher-yeah.jpg")
      
        section(data-auto-animate)
          figure
            img(src="img/pharrell-crying-1.webp")

      section
        section(data-background=defaultBG data-auto-animate)
          img.logo(src=logo)
          p(data-id="CodeOfConduct")
            strong Code of Conduct
        section(data-background="img/trump-orb.jpg" data-background-position="top right" data-auto-animate)
          h3(data-id="RuleNumber") Rule #1
          p(data-id="CodeOfConduct")
            strong Don't be an asshole.
        section(data-background=defaultBG data-auto-animate)
          h3(data-id="RuleNumber") Rule #2
          p 
            strong What happens at
          img.logo(src=logo)
          p(data-id="CodeOfConduct")
            strong ...stays at PubConf!
        section(data-background=defaultBG data-auto-animate)
          h3(data-id="RuleNumber") Please no...
          p(style="font-size:3dvw;") Photos, videos, quotes, tweets, snaps, or anything else without the 
          p(data-id="CodeOfConduct" style="font-size:3dvw;")
            strong speaker's express permission.



    include partials/_javascripts.pug 
    